body {
	background : #F5F5F5;
}

h1 {
	font-size     : 170%;
	margin-bottom : 10px;
}

#header {
	border-top          : 1px solid #e1e0e0;
	border-bottom       : 1px solid #e1e0e0;
	padding             : 20px 40px 20px 140px;
	background-image    : url("../images/crap-logo.png");
	background-color    : #FAFAFA;
	background-repeat   : no-repeat;
	background-position : 40px center;
	margin-top          : 30px;
}

#header span {
	color : #4078c0;
}

.btn-github {
	float      : right;
	display    : block;
	width      : 28px;
	height     : 28px;
	color      : #000;
	margin-top : 12px;
}
.btn-github:hover {
	color : #4078c0;
}
.btn-github svg {
	fill : currentColor;
}


#playground {
	position : absolute;
	left     : 0;
	right    : 0;
	bottom   : 0;
	top      : 125px;
	overflow : hidden;
	cursor   : pointer;
}




.unit {
	position : relative;
	left     : 0;
	top      : 0;
}




.speech-bubble {
    top: 183px;
    left: 799px;
    position: absolute;
    z-index: 1;
    border: 3px solid #c81e2b;
    display: block;
    padding: 30px;
    border-radius: 240px / 140px;
    font-size: 150%;
    background: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: #333;
}
.speech-bubble::before {
	content: "";
	position: absolute;
	z-index: 10;
	width: 20px;
	height: 20px;
	border: 3px solid #c81e2b;
	background: #fff;
	border-radius: 50%;
	display: block;
}
.speech-bubble::after {
	content: "";
	position: absolute;
	z-index: 10;
	width: 10px;
	height: 10px;
	border: 3px solid #c81e2b;
	background: #fff;
	border-radius: 50%;
	display: block;
}
.speech-bubble-bl::before { bottom:  -8px; left:  25px; }
.speech-bubble-bl::after  { bottom: -16px; left:  8px;  }
.speech-bubble-tl::before { top:     -8px; left:  25px; }
.speech-bubble-tl::after  { top:    -16px; left:  8px;  }
.speech-bubble-br::before { bottom:  -8px; right: 25px; }
.speech-bubble-br::after  { bottom: -16px; right: 8px;  }
.speech-bubble-tr::before { top:     -8px; right: 25px; }
.speech-bubble-tr::after  { top:    -16px; right: 8px;  }















